/*
 * BUTTON
*/

button,
.button,
a.button,
.submit {
	appearance: none;
	border-radius: 0;
	border: 0;
	background-color: $brand-color2;
	padding: 10px 30px;
	cursor: pointer;
	display: inline-block;
	color: $light;
	text-decoration: none;
	@media screen and (max-width: 1100px) {
		padding: 60px 60px;
		font-size: 33px;
		font-weight: 700;
	}

	&:focus,
	&:hover {
		background: darken($brand-color2, 10%);
	}
}