/*
 * VARIABLES
*/

@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Source+Sans+Pro');
$font-headline: 'Cinzel Decorative', cursive;

$font-main: 'Source Sans Pro', sans-serif;


$dark: #262626;
$light: #fff;
$brand-color1: #5382BF;
$brand-color2: #1A4D8C;
$brand-color3: #FAD961;
$brand-color4: #F76B1C;

$space: 20px;
